<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python online</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form id="panels" name="form" method="post">
        <div class="code">
            <textarea spellcheck="false" name="input_code">#import os
from time import sleep
print("hello, world!")
#for i in range(2):
# print(i)
# sleep(1)
value = input()
#value = 3
print(f"Your value is: {value}")
#print(os.name)
code = "(lambda x: x).__globals__['__builtins__']['open'].__doc__[:100]"
print(eval(code, {}, {}))
</textarea>
        </div>
        <div class="stdin">
            <textarea spellcheck="false" name="input_stdin">12345</textarea>
        </div>
        <div class="control">
            <input type="button" value="Launch" onclick="launch()">
        </div>
        <div class="output">
            <textarea readonly spellcheck="false" id="output" style="white-space: pre-line"></textarea>
        </div>
    </form>
</body>
</html>